﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title </title>
    <link rel="shortcut icon" href="~/Content/img/icon.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/css/_all-skins.min.css">
    <link rel="stylesheet" href="~/Content/css/dataTables.bootstrap.css">
</head>
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>TS</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Apart</b> Takip Sistemi</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        


                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">@Session["name"]  @Session["surname"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    
                                    <p>
                                        @Session["name"]
                                         @Session["surname"]

                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="profil" class="btn btn-default btn-flat">Profil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="Kiraci/Cikis" class="btn btn-default btn-flat">Çıkış</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                
                <ul class="sidebar-menu">
                    <li class="header">Menü</li>
                    <li class="treeview">
                        <a href="/Kiraci">
                            <i class="fa  fa-home"></i> <span>Anasayfa</span>
                        </a>
                    </li>
                    
                    




                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">

            </div>
            <strong></strong> Edit by Abdul Basir SHARIF
        </footer>

        <!-- jQuery 2.1.4 -->
        <script src="~/Content/js/jQuery-2.1.4.min.js"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="~/Content/js/bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="~/Content/js/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="~/Content/js/fastclick.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Content/js/app.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/Content/js/demo.js"></script>
        <script src="~/Content/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/js/dataTables.bootstrap.min.js"></script>

        


        






</body>
</html>