﻿@model Apart_Takip_Sistemi.Models.ORM.LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/img/icon.jpg">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/css/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo" style="margin:0;padding:0">
                <b>Apart </b> Takip Sistemi
            </div><!-- /.login-logo -->
            <p class="login-box-msg">Giriş</p>
            
           @using (Html.BeginForm())
           {
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(a => a.KullaniciAdi, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(a => a.KullaniciAdi)
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(a => a.Sifre, new { @class = "form-control", @type = "password", @placeholder = "Şifre" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(a => a.Sifre)
                </div>
                <div class="row">
                    <div class="col-xs-3">

                    </div><!-- /.col -->


                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş</button>

                    </div><!-- /.col -->

                </div>
            

           }

        @RenderBody()

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/js/icheck.min.js"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
</body>
</html>