﻿@{
    ViewBag.Title = "Daire Ekle";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ekle
        <small></small>
    </h1>


</section>


<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-xs-12">




            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#daireEkle" data-toggle="tab">Daire Ekle</a></li>

                </ul>


                <div class="tab-content">

                    

                    <div class="active tab-pane divProfil" id="daireEkle">
                        <div class="box">
                            
                            <div class="box-header">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3">
                                        <label>Blok</label>
                                        <input class="form-control" type="text" name="Blok">
                                    </div>

                                    <div class="form-group col-lg-3">
                                        <label>Daire Numarası</label>

                                        <input class="form-control" type="number" name="DaireNo">

                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>Ekle</label>
                                        <button class="form-control btn btn-default btn-flat" type="submit">Ekle</button>

                                    </div>


                                }



                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div class="form-group col-lg-3">
                                    @if (ViewBag.eklendi == "1")
                                    {
                                        <label style="color:green;">Eklendi</label>
                                    }
                                    else if (ViewBag.eklendi == "0")
                                    {
                                        <label style="color:red;">Eklenemedi</label>
                                        }

                                    
                                    
                                </div>
                            </div><!-- /.tab-pane -->

                        </div><!-- /.tab-content -->
                    </div><!-- /.nav-tabs-custom -->

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->