﻿@model IEnumerable<Apart_Takip_Sistemi.Models.ORM.KiraciModel>
@{
    ViewBag.Title = "Daire Bilgi";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <a href="daireBilgi?id=@ViewBag.daire.DaireID">@ViewBag.daire.Blok@ViewBag.daire.DaireNo</a>
    </h1>


</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        
                        <li class="active"><a href="#kisiler" data-toggle="tab">Kişiler</a></li>
                       
                        <li><a href="#kiralar" data-toggle="tab">Kiralar</a></li>
                        <li><a href="#odemePlani" data-toggle="tab">Ödeme Planı</a></li>
                        
                       

                    </ul>


                    <div class="tab-content">

                        <div class="active tab-pane" id="kisiler"> <!--Kişiler-->

                            <div class="box-body">

                                <div class="form-group col-lg-2"></div>
                                <div class="form-group col-lg-4">
                                    <table id="example1" class="table table-bordered" style="border:2px solid skyblue; border-radius: 12px;">
                                        <thead>
                                            <tr>
                                                <th>Adı</th>
                                                <th>Soyadı</th>
                                                <th>İşlem</th>

                                            </tr>
                                        </thead>
                                        <tbody id="sonu">
                                            @foreach (var item in Model)
                                            {
                                            <tr>

                                                <td>@item.Adi</td>
                                                <td>@item.Soyadi</td>
                                                <td>
                                                    <a href="/Admin/KiraciDuzenle?id=@item.KiraciID"><button title="Düzenle" class="fa fa-edit btn btn-default"></button></a>
                                                    <button class="fa fa-trash btn btn-danger kisisil" title="Sil" data-id="@item.KiraciID" id=""></button>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>

                            </div>




                            <div class="box-body" style="border:2px solid #ddd; border-radius: 12px;">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-2">
                                        <label>Adı</label>
                                        <input class="form-control" type="text" name="Adi" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Soyadı</label>
                                        <input class="form-control" type="text" name="Soyadi" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>TC No</label>
                                        <input class="form-control" type="text" name="Tc" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Telefon</label>
                                        <input class="form-control" type="number" name="Telefon" />
                                    </div>

                                    <input type="hidden" name="DaireID" value="@ViewBag.daire.DaireID" />



                                    <div class="form-group col-lg-1">
                                        <label>Ekle</label>
                                        <button class="form-control btn btn-default btn-flat" type="submit">Ekle</button>
                                    </div>

                                }
                            </div><!-- /.box-body -->
                        </div>
                       
                        <div class="tab-pane" id="kiralar"> <!--kiralar-->


                            <div class="box-body">

                                <div class="form-group col-lg-3" style="border:1px solid #ddd; background:#D0E5EA; border-radius: 12px;">
                                    <label for="">Kira Bedeli: </label>  <br />
                                    <label for="">Ödeme Günü: </label>  <br />
                                    <label for="">Toplam Alinan: </label> alianan TL <br />
                                </div><div class="form-group col-lg-1"></div>
                                
                                <div class="form-group col-lg-6">
                                    <table id="example1" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Ay</th>
                                                <th>Alınan</th>
                                                <th>Ödemeyi Alan</th>
                                                <th>İşlem</th>

                                            </tr>
                                        </thead>
                                        <tbody id="sonu">
                                          
                                            <tr class="myTr">
                                                <input type="hidden" id="daireid" value="" />
                                                <input type="hidden" id="daireadi" value="" />
                                                <td><strong style="color:#4593CE;">Ay</strong></td>
                                                <td>alinan ₺  </td>
                                                <td></td>
                                                <td>
                                                    <a href="kiraDuzenlePage?id="><button title="Düzenle" class="fa fa-edit btn btn-default"></button></a>
                                                    <button class="fa fa-trash btn btn-danger kirasil" title="Sil" id="" data-id=""></button>
                                                </td>

                                            </tr>
                                            

                                        </tbody>

                                    </table>
                                </div>


                            </div>

                            <div class="box-body">
                                <div class="form-group col-lg-4"></div>
                                <div class="form-group col-lg-6" style="border:2px solid #ddd; border-radius: 12px;">
                                    <form action="odemeAl" method="post">
                                        <div class="form-group col-lg-3">
                                            <label></label>
                                            
                                            <label style="font-size:120%; color:#726C12; margin-top:25px;"> Kirası</label>
                                        </div>
                                       
                                        <div class="form-group col-lg-3">
                                            <label></label>
                                            <label style="margin-top:25px;"></label>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label></label>

                                            <input class="form-control" type="number" value=""  name="tutar" />
                                        </div>

                                        <input type="hidden" name="daireid" value="" />
                                        <input type="hidden" name="ay" value="" />


                                        <div class="form-group col-lg-3">
                                            <label></label>
                                            <button class="form-control btn btn-default btn-flat " type="submit">Al</button>
                                        </div>

                                    </form>
                                </div>

                            </div>

                        </div>

                        

                       

                        

                    </div>
                </div>




            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
