﻿@model IEnumerable<Apart_Takip_Sistemi.Models.daireler>
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <a href="/Admin">Daireler</a>
        <small><a href="/Admin/DaireEkle"><i class="fa fa-plus"></i> Daire Ekle </a></small>
    </h1>


</section>


<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-xs-12">


            <div class="box">
                <div class="box-header">
                    <!-- <h3 class="box-title">Bütün Daireler</h3> -->

                    <form action="" method="post">
                        <div class="form-group col-lg-2">
                            <select name="daire" class="form-control">
                                <option value="hepsi" >Bütün Daireler</option>
                                <option value="bos" >Boş Daireler</option>
                                <option value="dolu" >Dolu Daireler</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <select name="blok" class="form-control">

                                
                                <option value="">  Blok</option>
                                

                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" class="btn btn-default" value="Filtrele" />
                        </div>
                    </form>



                </div><!-- /.box-header -->
                <div class="box-body">

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Daire</th>
                                <th>Durumu</th>
                                <th>İşlem</th>

                            </tr>
                        </thead>
                        <tbody id="sonu">


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.Blok@item.DaireNo</td>
                                <td> @if(item.DoluMu=="dolu") {<p style="color:#CD6161;">Dolu</p>} else {<p style="color:#3ACE49;">Boş</p>}  </td>
                                <td><a href="/Admin/DaireBilgi?id=@item.DaireID"><button class="fa fa-edit btn btn-default"></button></a> @if(item.DoluMu=="bos") { <button class="fa fa-trash btn btn-danger dairesil" title="Sil" data-id="@item.DaireID" id=""></button>}</td>
                            </tr>

                        }






                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Daire</th>
                                <th>Durumu</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->



