﻿@model IEnumerable<Apart_Takip_Sistemi.Models.daireler>
@{
    ViewBag.Title = "Kiralar";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <a href="/Admin/Kiralar">Kiralar</a>
        <small></small>
    </h1>


</section>


<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-xs-12">


            <div class="box">
                <div class="box-header">

                    



                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Daire</th>
                                <th>Ödeme</th>
                                <th>İşlem</th>

                            </tr>
                        </thead>
                        <tbody id="sonu">


                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.DaireNo</td>
                                <td></td>
                                <td><a href="DaireBilgi?id=@item.DaireID"><button class="fa fa-edit btn btn-default"></button></a></td>
                            </tr>
                            }






                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Daire</th>
                                <th>Ödeme</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->