﻿
@{
    ViewBag.Title = "Kiraci Düzenle";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.kiraci.Adi @ViewBag.kiraci.Soyadi
        <strong><a href="daireBilgi?id=@ViewBag.daire.DaireID">@ViewBag.daire.Blok@ViewBag.daire.DaireNo</a></strong>
    </h1>


</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <div class="col-xs-12">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#kisiEkle" data-toggle="tab">Düzenle</a></li>
                    </ul>


                    <div class="tab-content">

                        <div class="active tab-pane" id="kisiEkle">

                            <div class="box-body">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-2">
                                        <label>Adı</label>
                                        <input class="form-control" type="text" value="" name="Adi"/>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Soyadı</label>
                                        <input class="form-control" type="text" value="" name="Soyadi"/>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>TC No</label>
                                        <input class="form-control" type="text" value="" name="Tc" />
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Telefon</label>
                                        <input class="form-control" type="text" name="Telefon" value="" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                                    </div>

                                    <input type="hidden" name="DaireID" value="@ViewBag.daire.DaireID" />
                                    <input type="hidden" name="KiraciID" value="@ViewBag.kiraci.KiraciID"/>



                                    <div class="form-group col-lg-2">
                                        <label>Güncelle</label>
                                        <button class="form-control btn btn-default btn-flat" type="submit">Güncelle</button>
                                    </div>

                                }
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>




            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
