﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Apar Takip Sistemi</title>
    <link rel="shortcut icon" type="image/x-icon" href="application/views/img/logo_ust3.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900%7COpen+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800%7CMerriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css' />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/css/global.css" rel="stylesheet">
    <link href="~/Content/css/settings.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <link href="~/Content/css/skin.less" rel="stylesheet/less">

   
</head>
<body class="homepage-2">
    <!--Wrapper Section Start Here -->
    <div id="wrapper">

        <!--header Section Start Here -->
        <header id="header" class="normal ">
            <div class="navigation-header">
                <div class="container">
                    <div class="row">
                        <a href="" class="col-xs-6 col-sm-2 logo"><i class="svg-shape"> <img src="" alt="" class="" /> </i> <img src="~/Content/img/icon.jpg" alt="" title="" /></a>
                        <div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-1 navigation">
                            <nav class="navbar navbar-default">

                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav">











                                        <li>
                                            <a href="/Login" class="about"> G&#304;R&#304;&#350; YAP </a>

                                        </li>

                                    </ul>


                                </div><!-- /.navbar-collapse -->

                            </nav>

                        </div>

                    </div>

                </div>

            </div>

        </header>
        <!--header Section End Here -->
        <section id="slider">
            <div class="container-fluid">
                <div class="row">
                </div>
            </div>

        </section><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <!--slider Section Start Here -->
        <section id="slider">
            <div class="container-fluid">
                
            </div>

        </section>
        <!--slider Section End Here -->

        <br /><br /><br /><br /><br /><br /><br /><br /><br />


        <!--content Section Start Here -->
        <div id="content">

            <img src="~/Content/img/c17.jpg" style="width:1200px;height:400px;" alt="Alternate Text" />
            <br /><br /><br /><br />

            

        <section class="consulation">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-2 col-md-2 col-md-offset-1 animate-effect">
                        <span class="consult-info"></span>

                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-6 animate-effect">
                        <a href="tel:(0555) 123 4567" class="contact-consult"><i class="icon-consult fa fa-mobile"></i>(0555) 123 4567</a>

                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 animate-effect">
                        <span class="consult-info week-time"><span></span></span>

                    </div>

                </div>
            </div>
        </section>

    </div>
    <br /><br />
    <!--footer Section Start Here -->
    <footer id="footer">

        <div class="main-footer">
            <div class="container">
                <div class="row">


                    <div class="col-xs-12 col-sm-3 col-md-3 spacer-mobile footer-box">



                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 practice-footer tablet-mode footer-box">
                    <h3> ED&#304;T </h3>
                    <ul class="practice-listing">
                        <li>
                            Abdul Basir SHARIF
                        </li>

                    </ul>

                </div>



            </div>
        </div>

        </div>

    </footer>
    <!--footer Section End Here -->








    <script src="~/Content/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/less.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>

    <!-- revolution Js -->
    <script type="text/javascript" src="~/Content/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.revolution.js"></script>
    <!-- revolution Js
    <script type="text/javascript" src="application/views/assets/js/site.js"></script> -->

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- unigarden -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6431009266707037"
         data-ad-slot="7197612106"
         data-ad-format="auto"></ins>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
    </script>


</body>
</html>